.card {
    background: black;
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    padding: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    color: #ccc;
}

.header {
    background: linear-gradient(black, blueviolet);
    width: 100%;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.id {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
}

.btn {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
}

.btn:hover {
    color: red;
}

.name {
    background: linear-gradient(blueviolet, black);
    text-decoration: none;
    text-align: center;
    color: #ccc;
    padding: 5px 0;
}

.bg {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.info {
    background: linear-gradient(blueviolet, black);
    padding: 2.5px 5px;
}