.bar {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 70%;
    height: 100%;
    margin: 7px 0;
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 1.2rem;
}

.input:focus {
    outline: none;
}

.add {
    width: 30%;
    height: 100%;
    margin: 7px 6px;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.add:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
}