.page {
    background: url('./bg-home.webp') no-repeat center center/cover fixed;
    max-width: 100%;
    min-height: 91.3vh;
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}